:root{
    background-color: black;
    color: white;
    font-family: 'segoe UI';
    box-sizing: border-box;
}

html{
    width: 100%;
}
body {
    margin: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
.header-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;




    
}
.img-container{
    display: flex;
    max-height: 30rem;
    margin: auto;
    overflow: hidden;
    align-items: center;
    width: 100%;
}
.img-container img{
    position:static;
    display: block;
    width: 100%;
}

.title-wrap{
    position: absolute;;
    top: 40%;
    margin: auto;;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title-text{
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.subtitle-container{
    
    display: flex;
    padding-bottom: 20px;
}

.new{
    text-shadow: #000;
    padding-right: 5px;
    font-weight: 800;
    color: red
}
.release-name{
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.button-container{
    display: flex;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;

}

.button-container:hover,
.button-container:hover a
{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    
}

nav{
    background-color: #000;
}

.card-spot{
    display: flex;
    margin: 40px auto;
    width: 80%;
    border-radius: 10px;
    border: 1px solid red;
    
}

.spotify-container{
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.resena-container{
    display: flex;
    padding: 2rem 5rem;
    background-image: linear-gradient(40deg ,#111,#222);

}
.resena-title{
    text-align: center;
}
.resena-left{
    align-items: center;
    border: 1px solid red;
    box-shadow: 0 0 5px red;
    padding: 2rem 5rem;
}
.resena-right{
    display: flex;
    overflow: hidden;
    align-content: center;
    border: 1px solid red;

    box-shadow: 0 0 5px red;
}
#img-band{
    min-width: 20rem;
    width:50% ;
    margin: 0 auto;
    align-self: center;
}